body {
  background-color: rgba(0, 255, 255, 0.452);
}

.container {
  display: flex;
  justify-content: center;
}

h1 {
  padding: 20px 100px;
  background-color: rgba(63, 205, 87, 0.901);
  color: white;

  font-family: sans-serif;
}
