body {
  background-color: aqua;
}

.container {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

h1 {
  border-radius: 5px;
  padding: 20px 100px;
  background-color: rgba(205, 113, 63, 0.918);
  color: white;
  font-family: sans-serif;
}

.input-task {
  justify-content: center;
  flex-direction: column;
  display: flex;
  background-color: black;
}

body {
  margin: 20px;
}
